<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="utf-8" />
        <title>My reports</title>
    </head>
    <body class="h-100">
        <%= require("html-loader!../components/sidebar.html").default %>
        <%= require("html-loader!../components/header.html").default %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <main class="h-100 col-md-10">
                    <div class="container">
                        <h5 class="text-center p-5">PAST WEEKLY REPORTS</h5>
                        <button type="button" class="btn btn-dark">Expand All</button>
                        <table class="table">
                            <thead>
                                <tr >
                                    <th></th>
                                    <th>Morale</th>
                                    <th>Stress</th>
                                    <th>Workload</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>May 3 - May 9, 2020</td>
                                    <td><img alt="happy_icon" src=<%=require("../img/happy.svg")%>></td>
                                    <td><img alt="happy_icon" src=<%=require("../img/neutral.svg")%>></td>
                                    <td><img alt="happy_icon" src=<%=require("../img/sad.svg")%>></td>
                                    <td>test</td>
                                </tr>
                                <tr>
                                    <td>April 12- April 18, 2020</td>
                                    <td><img alt="happy_icon" src=<%=require("../img/happy.svg")%>></td>
                                    <td><img alt="happy_icon" src=<%=require("../img/very-happy.svg")%>></td>
                                    <td><img alt="happy_icon" src=<%=require("../img/sad.svg")%>></td>
                                    <td>test</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </body>
    
</html>
