<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="utf-8" />
        <title>Team members</title>
    </head>

    <body class="h-100">
        <%= require("html-loader!../components/sidebar.html").default %>
            <!-- header -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"></div>
                    <header class="col-md-10 header-my-company">
                        <div class="d-flex justify-content-center header-text text-white fw-bold display-1 mt-2 pt-4">ANKO technologies Corp</div>
                        <div class="d-flex justify-content-center text-white fs-6 pt-4">Joined January 2020</div>
                    </header>
                </div>
            </div>
            <%= require("html-loader!../components/button.html").default %>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <main class="h-100 col-md-10">
                            <div class="container">
                                <h5 class="text-center text-bold mt-5 fw-bold">TEAM MEMBERS</h5>
                                <i class="bi bi-dash-lg fs-1 d-flex justify-content-center text-warning"></i>
                        
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">AE</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Alexandr Evseev</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">NK</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Nikolai Kapustin</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">AK</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Anatoliy Kolodkin</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">AN</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Anna Kotova</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">NM</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Nina Mammadova</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">NS</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Natalia Starkova</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">AT</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Anton Tarkhanov</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid mt-2 card shadow border-0">
                                    <div class="row card-header border-0 bg-white align-items-center">
                                        <div class="col-md-1">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                                <div
                                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                    <div class="text-gray-dark fw-bold fs-4">AV</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10 align-items-center">
                                            <div class="fs-5 text-dark ">Alexandr Vovchuk</div>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="./edit_member_information.html"><button type="button" class="btn btn-light mx-3">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
                        </main>
                    </div>
                </div>
                <br><br><br>
    </body>
    <footer id="footer" class="footer navbar-fixed-bottom">
        <div class="row mx-auto my-1 my-sm-3 my-lg-4 p-3">
            <form>
                <button type="button" class="btn btn-warning" style="float: right;">
                    <i class="bi bi-question-circle"></i>
                    Help</button>
            </form> 
        </div> 
    </footer>
    
</html>
