<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8" />
    <title>Team reports</title>
</head>

<body class="h-100">
    <%= require("html-loader!../components/sidebar.html").default %>
        <!-- header -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <header class="col-md-10 header-team-reports">
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-dark rounded-0 border border-warning">Immediate Team</button>
                        <button class="btn btn-dark rounded-0 text-secondary">Extended Team</button>
                    </div>
                    <!-- 1 -->
                    <div class="d-flex flex-row justify-content-center">
                        <div class="d-flex justify-content-center text-white mt-5">
                            <div
                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                <div
                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                    <div class="text-gray-dark fw-bold fs-4">AK</div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="d-flex justify-content-center text-white mt-5">
                            <div
                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                <div
                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                    <div class="text-gray-dark fw-bold fs-4">NK</div>
                                </div>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="d-flex justify-content-center text-white mt-5">
                            <div
                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                <div
                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                    <div class="text-gray-dark fw-bold fs-4">AK</div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="d-flex justify-content-center text-white mt-5">
                            <div
                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                <div
                                    class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                    <div class="text-gray-dark fw-bold fs-4">NM</div>
                                </div>
                            </div>
                        </div>
                        <!-- last -->
                        <div class="d-flex justify-content-center text-white mt-5">
                            <div
                                class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                <div
                                    class="d-flex justify-content-center align-items-center rounded-circle bg-warning icons">
                                    <div class="text-gray-dark fw-bold fs-4">+3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center text-white fs-3 mt-5">Your team&nbsp;<b>has not submitted reports</b>&nbsp;this week.</div>
                </header>
            </div>
        </div>
        <%= require("html-loader!../components/button.html").default %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2"></div>
                    <main class="h-100 col-md-10">
                        <div class="container">
                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-dark rounded-0 border border-warning">Previous Period : 5/23 - 5/29</button>
                                <button class="btn btn-dark rounded-0 text-secondary">Current Period : 5/23 - 5/29</button>
                                <button class="btn btn-dark rounded-0 text-secondary">Older Reports</button>
                            </div>
                            <h5 class="text-center text-bold mt-5 fw-bold">IMMEDIATE TEAM</h5>
                            <i class="bi bi-dash-lg fs-1 d-flex justify-content-center text-warning"></i>
                            <div class="d-flex flex-row-reverse">
                                <button type="button" class="btn btn-dark btn-md mt-5 px-4 fw-bold">Expand All</button>
                            </div>
                            <div class="mt-2 card shadow border-0 container-fluid">
                                <div class="row card-body fs-5">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-1">Morale</div>
                                    <div class="col-md-1">Stress</div>
                                    <div class="col-md-1 px-0">Workload</div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>

                            <!-- First -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">AK</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Alexandr Evseev</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                            <!-- Second -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">NK</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Nikolai Kapustin</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                            <!-- Third -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">AK</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Anna Kotova</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                            <!-- Fourth -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">NM</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Nina Mammadova</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                            <!-- Fifth -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">NS</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Natalia Starkova</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                            <!-- Sixth -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">AT</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Anton Tarkhanov</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                            <!-- Seventh -->
                            <div class="container-fluid mt-2 card shadow border-0">
                                <div class="row card-header border-0 bg-white align-items-center">
                                    <div class="col-md-1">
                                        <div
                                            class="d-flex justify-content-center align-items-center rounded-circle bg-white icons-bg">
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-gray-light icons">
                                                <div class="text-gray-dark fw-bold fs-4">AV</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-items-center">
                                        <div class="fs-5 text-dark ">Alexandr Vovchuk</div>
                                        <div class="fs-5 text-secondary">is missing a report</div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                        </div>
                    </main>
                </div>
            </div>
            <br><br><br>
</body>

</html>