.sidebar{
    background: #333a3d;
}
.floating-button{
    position: fixed !important;    
    right: 0px !important;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: bottom right;
    bottom: 60% !important;
}
