.sidebar{
    background: #333a3d;
}
.floating-button{
    background-color: #0a3d67;
    position: fixed !important;    
    right: 0px !important;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: bottom right;
    bottom: 60% !important;
    z-index: 6;
    border-radius: 3px;
}
.nav-link:hover{
    background: #1f2426;
    font-weight: bold;
}

.help{
    color: rgb(21, 21, 21);
    z-index: 7;
    position: fixed;
    right: 5px;
    bottom: 5px;
    border-radius: 15px;
}

.header{
    height: 150px;
    background-color: #343434;
    
}
.headertext>h1{
    font-size: 80px;
    text-align: center;
    padding-top: 90px; 
    color: #fff;
    font-family:francisco-serial;
    font-weight: bold;
}
.headertext>h2{
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.renameAnko>h2{
    text-decoration: underline; 
    text-decoration-color: red;
}

.profile-logo{
    width: 125px;
}
.header-text{
    color: #ffffff;
    font-family: francisco-serial;
    font-weight: 900;
    font-size: 5em;
}
.mail-text{
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
}
main{
    background: #f5f7f8;
}


