.header{
    height: 180px;
    background-image: url("../img/header_bg.png");
    box-shadow: 0 5px 12px -2px gray;
    font-family: francisco-serial;
}
.header-my-reports{
    height: 350px;
    box-shadow: 0 5px 12px -2px gray;
    font-family: francisco-serial;
    background-image: url("../img/header_bg.png");
}
.header-text{
    color: #ffffff;
    font-family: francisco-serial;
    font-weight: 900;
    font-size: 5em;
}