.icons-bg {
    width: 72px;
    height: 72px;
}
.icons {
    width: 66px;
    height: 66px;
}
.profile-logo{
    width: 125px;
}
.z-5 {
    z-index: 5;
}

.z-4 {
    z-index: 4;
}

.z-3 {
    z-index: 3;
}

.z-2 {
    z-index: 2;
}

.z-1 {
    z-index: 1;
}
.user-icon-1 {
    transform: translate(50%);
}

.user-icon-2 {
    transform: translate(25%);
}

.user-icon-3 {
    transform: translate(0%);
}

.user-icon-4 {
    transform: translate(-25%);
}

.general-icon {
    transform: translate(-50%);
}