@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';


//navs
$nav-pills-link-active-bg: #1f2426; 

$nav-link-color: white;

$nav-link-hover-color: #fcd214;

$nav-pills-link-active-font-weight: bold;

//body
$body-bg: #f5f7f8;

//