<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <header class="col-md-10 header-my-reports">
            <div class="d-flex justify-content-center">
                <img src="../img/profile_logo.png" class="profile-logo mt-5" alt="photo">
            </div>
            <div class="d-flex justify-content-center header-text">Anatoliy Kolodkin</div>
            <div class="d-flex justify-content-center mail-text">anatoliy@ankosoftware.com</div>
        </header>
    </div>
</div>