<!-- Trigger -->
<button type="button" class="btn btn-outline-secondary" role="button" data-toggle="modal" data-target="#first">Edit Leader(s)</button>
        <!-- Modal     -->
        <div class="modal fade modal-xl" tabindex="-1" id="first" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header mt-4 me-4 pb-0">
                        <input type="button" class="btn btn-close">
                    </div>
                <div class="modal-body mx-3">
                    <h3 class="fw-bold">Edit Leader(s).</h3>
                    <h6 class="mb-4">By default, the person who sent you the invite will recive your weekly report. You may also select the person you report to directly as an additional leader.</h6>
                    <h6>Pro Tip: You can change who sees your report in your profile settings.</h6>
                    <div class="mt-5">
                        <div class="btn-group mb-2">
                            <input type="button" class="btn btn-dark" value="Alexandr Vovchuk">
                            <button type="button" class="btn btn-dark" value="X"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="btn-group mb-2">
                            <input type="button" class="btn btn-dark" value="Anton Tarkhanov">
                            <button type="button" class="btn btn-dark" value="X"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="btn-group mb-2">
                            <input type="button" class="btn btn-dark" value="Natalia Starkova">
                            <button type="button" class="btn btn-dark" value="X"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="btn-group mb-2">
                            <input type="button" class="btn btn-dark" value="Nikolai Kapustin">
                            <button type="button" class="btn btn-dark" value="X"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="btn-group mb-2">
                            <input type="button" class="btn btn-dark" value="Nina Mammadova">
                            <button type="button" class="btn btn-dark" value="X"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <input type="text" class="form-control mt-4" placeholder="" aria-label="Edit" aria-describedby="edit">
                    </div>
                </div>
                <div class="modal-footer m-4 mt-4 p-0 justify-content-start">
                    <button type="button" class="btn btn-warning fw-bold">Save changes</button>
                </div>
                </div>
            </div>
            </div>
                        
                                              